@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');

* {
  box-sizing: content-box;
  text-align: center;
}

.tab_section {
  margin: 10px;
}

.cards {
  margin: 10px 0px;
}
.car_pic {
  margin: auto;
  width: 80%;
}
.car_pic img {
  display: block;
  margin: auto;
  width: 100%;
  height: 75vh;
}
.relPos {
  position: relative;
}
.but {
  font-size: 19px;
  height: 37px;
  width: 20%;
  background: transparent;
  display: flex;
  justify-content: center;
  font-family: 'Zilla Slab', serif;
  background-color: #f1f3f5;
  color: black;
  font-weight: bold;
  margin-left: 65%;
  text-align: center;
  padding-top: 13px;
  bottom: 123px;
  cursor: pointer;
  position: relative;
  border-radius: 5%;
  text-decoration: none;
  letter-spacing: 0.2rem;
  transition: all 1s;
}
.but:hover {
  color: black;
  font-weight: bolder;
  background-color: #2195f3;
  letter-spacing: 0.1rem;

  opacity: 0.7;
  font-size: 19px;
  padding-top: 10px;
}
.decoration {
  text-decoration: none;
}
.simron {
  font-family: 'Nova Slim', cursive;
  position: absolute;
  color: white;
  font-size: 3rem;
  bottom: 120px;
  left: 20%;
}
.simron:hover {
  color: rgb(47, 137, 255);
  transition: all 1s;
  cursor: default;
}
