.tablet {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(204, 214, 224); */
  flex-wrap: wrap;
}
.tab {
  display: block;
  cursor: pointer;
  background: transparent;
  position: relative;
  /* animation: ; */
  /* box-shadow: 10px 10px green; */
}
.tab img {
  width: 151.8px;
  height: 130px;
  position: relative;
  opacity: 0.5;
  transition: all 1s;
}
.tab img:hover {
  opacity: 0.1;
  border-radius: 70px;
  text-align: center;
  font-weight: bolder;}
.abc {
  margin-top: 0;
  margin-bottom: 1rem;
  position: absolute;
  top: 47px;
  left: 30px;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  list-style: none;
}
